<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>889707692062-jii0krl9uiabq8ih1b9sul01m2v0ofcp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.889707692062-jii0krl9uiabq8ih1b9sul01m2v0ofcp</string>
	<key>API_KEY</key>
	<string>AIzaSyBlUG7A90OQDXZM17o50mK_L1WTXa24Vrk</string>
	<key>GCM_SENDER_ID</key>
	<string>889707692062</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.goldroger.samplelogin</string>
	<key>PROJECT_ID</key>
	<string>teamstarks-28874</string>
	<key>STORAGE_BUCKET</key>
	<string>teamstarks-28874.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:889707692062:ios:601d8c2c7a72329230ee0f</string>
</dict>
</plist>
